h1{
    color: #4b81bf;
}
.container{
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #4b81bf;
    border-radius: 5px;
}
.main{
    width: 700px;
border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: -3px 2px 83px 29px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 2px 83px 29px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 2px 83px 29px rgba(0,0,0,0.75);
    padding: 15px;
    margin: 100px;
    text-align: center;
}
.pass-input{
    padding: 10px;
    border: 2px solid #4b81bf;
    border-radius: 10px;
    width: 400px;
    margin: 30px auto;
    display: block;
}
.button-copy, .button-create, .button-reset{
    width: 200px;
    height: 40px;
    background-color: #4b81bf;
    border: 2px solid #bacee6;    
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}

/* анимации кнопок при наведении */
.button-create,
.button-copy,
.button-reset {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-create:hover,
.button-copy:hover,
.button-reset:hover {
  background-color: #3498db; /* Новый цвет при наведении */
  color: white; /* Новый цвет текста при наведении */
}

/* Пример анимации кнопок при нажатии */
.button-create:active,
.button-copy:active {
  background-color: #2980b9; /* Новый цвет при нажатии */
  color: white; /* Новый цвет текста при нажатии */
}


.main2{
    display: flex;
    justify-content: space-between;
}
.myRange{
    /* background-color: aquamarine;     */
    padding-top: 25px;
}
.myRange-label{
    width: 50%;
}

